/* Footer */
#footer {
  text-shadow: 0.55rem 0.55rem #FFFFFF;
}

#footer .form__footer {
  margin: 1rem;
  text-shadow: 0.55rem 0.55rem #15FFF5;
}

#footer .cgv__footer {
  margin: 0.5rem;
  text-shadow: 0.55rem 0.55rem #15FFF5;
}

#footer .cgv__footer .button {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
}

#footer .cgu__footer {
  margin: 0.5rem;
  text-shadow: 0.55rem 0.55rem #15FFF5;
}

// Il pourrait être utile d'utiliser des variables pour les couleurs qui sont répétées plusieurs fois, afin de faciliter la maintenance et de rendre le code plus lisible.
// Il pourrait être utile de définir des styles de base pour les éléments génériques tels que les marges, afin de ne pas avoir à les redéfinir à chaque fois.
// il serait aussi possible de regrouper tous les éléments concernant le footer dans #footer {} afin de faciliter la lecture du code.
